---
import { Image } from "astro:assets";

import PageLayout from "@/layouts/Base";
import aboutImg from "@/assets/about-astro.png";

const meta = {
	title: "About",
	description: "I'm a starter theme for Astro.build",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p>Under Progress</p>
		<div class="flex justify-center">
			<Image
				src={aboutImg}
				alt="A cartoon cactus looking at the 'Astro.build' logo"
				loading="eager"
				fetchpriority="high"
				width={256}
			/>
		</div>
		<p>
			I am a Second year M.Tech student at IIT Bombay in the department of Computer Science and
			Engineering. Deep Learning and Natural Language Processing is my current area of research.
		</p>
	</div>
</PageLayout>
